body {
  background-color: #74b9ff;
}

.container {
  padding: 5vh;
}

@media (min-height: 580px){
  .container {
    padding: 10vh;
  }
}

.card .card-header {
  background-color: #ff7675;
}

@media (max-height: 580px) and (orientation: landscape) {
  .card .card-header {
    display: none;
  }
}

#formCard {
  border-width: 0;
  box-shadow: -1vh 1vh 20px #383e41;
}

#formCard label {
  color: #3b4549;
  font-weight: bold;
}

.btn {
  background-color: #ff7675;
  border-width: 0;
  box-shadow: 0vh 0.45vh #8F2B2A;
}

.btn:hover {
  background-color: #d63031;
}

.btn:active {
  background-color: #d63031;
}

.btn:focus {
  background-color: #d63031;
}


.btn-primary:active {
  background-color: #d63031;
}


#simulatorTitle {
  color: #FFF;
  font-weight: bold;
}